#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    color: white;
}
.buttons{
    text-align: center;
}
.bt{
    width: 80px;
    height: 25px;
    border: solid white;
    border-radius: 12px;
    color: black;
    background-color: white;
    cursor: pointer;
    padding: 1px 2px 2px 2px;
}
.bt:hover{
    color: White;
    background-color: black;
    border: solid black;
}
body{
    background-image: url("/image.jpg");
}